@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap");

:root {
  --ff-poppins: "Poppins", sans-serif;
  --ff-rubik: "Rubik", sans-serif;

  --eerie-black: hsl(207, 19%, 11%);
}
html,
body {
  height: 100%;
}

body {
  font-family: var(--ff-rubik);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff;
  overflow: hidden;
  background: url("/assets/images/bg.jpg");
  background-position: center;
  /* background: var(--eerie-black); */
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  border-radius: 10px;
  background: var(--eerie-black);
}

.congrats {
  color: #ff8086;
}

.accepted {
  max-width: 480px;
  background: var(--eerie-black);
  border-radius: 10px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
