@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap");

:root {
  --ff-poppins: "Poppins", sans-serif;
  --ff-rubik: "Rubik", sans-serif;

  --eerie-black: hsl(207, 19%, 11%);
}
html,
body {
  height: 100%;
}

body {
  font-family: var(--ff-rubik);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff;
  overflow: hidden;

  background-color: #99ffe0;
  background-image: radial-gradient(
      at 49% 8%,
      hsla(234, 83%, 73%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 48% 65%, hsla(199, 78%, 65%, 1) 0px, transparent 50%),
    radial-gradient(at 45% 0%, hsla(117, 74%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 19%, hsla(77, 65%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 12% 85%, hsla(265, 80%, 66%, 1) 0px, transparent 50%),
    radial-gradient(at 69% 27%, hsla(152, 87%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 15% 70%, hsla(251, 63%, 65%, 1) 0px, transparent 50%);
  background-position: center;
  /* background: var(--eerie-black); */
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  border-radius: 10px;
  background: var(--eerie-black);
}

.congrats {
  color: #ff8086;
}

.accepted {
  max-width: 480px;
  background: var(--eerie-black);
  border-radius: 10px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
